

.reset-button {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 700;
  // padding: 9px 40px;
  width: 333px;
  height: 48px;
  color: #00474B;
  background: #26C2AE;
  border: none;
  border-radius: 5px;
  margin: 0 auto;
  
}
.reset-button:hover{
  background-color: #9FE8DF;
}
.reset-button:active {
  background: #0D686D;
}